<section>
  <h1>{{ title }}</h1>

  <div class="popular-courses" role="region" aria-label="Popular Courses">
    <h2>Popular Courses</h2>
    {{ popular_courses }}
  </div>

  <div class="recent-courses" role="region" aria-label="Recently Viewed Courses">
    {{ recently_viewed }}
  </div>
</section>